body {
    font-family : Arial;
    font-size : 14px;
}

.page-title {
    font-size:24px; 
	font-weight:bold;
}

.cart-header {
	/*background-color: #0040FF;*/
	background-color: #017CA7;
	color: white;
	
}

/* GENERAL BUTTON STYLE */
.cool-button {
	background-color: #0b9597;
	color: white;
	border: 2px solid #0b9597;  /* Add a border */
	padding: 6px 10px;
	cursor: pointer;
	border-radius: 10px;  /* Add curved edges */
	margin-bottom: 10px;
	transition: background-color 0.3s ease;  /* Increase transition duration for a gradual change */
}

.cool-button:hover {
    background-color: #31d7da;  /* Change the color on hover */
	border: 2px solid #31d7da;
}

.addcart-button {
	background-color: #0b9597;
	color: white;
	border: 2px solid #0b9597;  /* Add a border */
	padding: 6px 10px;
	cursor: pointer;
	border-radius: 10px;  /* Add curved edges */
	margin: 10px;
}



